* text=auto eol=lf
*.json text eol=lf
*.py text eol=lf
*.kt text eol=lf
*.java text eol=lf
*.md text eol=lf
*.kts text eol=lf
*.toml text eol=lf
gradlew text eol=lf
gradlew.bat text eol=crlf
*.jar binary
*.joblib binary
*.npy binary